.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu {
    @include tablets {
        display: none;
    }
}

.header .socials {
    @include phones {
        display: none;
    }
}