.menu__item {
    margin-right: 60px;
    font-size: 16px;
    color: $text-color_light;
    line-height: 19px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: $active-color;
    }
}