.tags {

}

.tags__item {
    padding: 14px 22px;
    background: $tags-bacground-color;
    border-radius: 40px;
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }

    @include phones {
        padding: 10px 20px;
    }
}