.userinfo {
    display: flex;
    justify-content: center;
}

.userinfo__title {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    color: $white-50;
    margin-right: 56px;
    line-height: 30px;
}

.userinfo__name {
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
    color: white;
    flex-basis: 400px;
}