.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 347px;
}

.user-info__avatar {
    width: 200px;
    height: 200px;
    margin-bottom: 65px;
}

.user-info__data {
    width: 100%;
}

.user-info__data-row {
    line-height: 39px;
}

.user-info__data-title {
    color: rgba(white, .3)
}

.user-info__data-content {
    width: 50%;
    color: $text-color_light;
}