.userinfo {
    display: flex;
    padding-left: 21%;
}

.userinfo__title {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    color: rgba(white, .5);
    margin-right: 56px;
    line-height: 30px;
}

.userinfo__name {
    font-size: 72px;
    font-weight: 800;
    line-height: 60px;
    color: $text-color_light;
    flex-basis: 400px;
}