.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 335px;
}

.user__avatar {
    margin-bottom: 65px;
}

.user__avatar-style {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.user__data {
    width: 100%;
}

.user__data-row {
    line-height: 39px;
}

.user__data-title {
    color: rgba(white, .3)
}

.user__data-content {
    color: $text-color_light;
}