.welcome-section {
    position: relative;
    background: url(~images/content/rect.png) center bottom / cover no-repeat;
}

.welcome-section__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-bg;

    @include desktop {
        height: 70%;
    }

    @include phones {
        height: 45%;
    }
}