.tag {
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 50px;
  background: #F3F6F9;
  color: rgba(40, 51, 64, 0.5);
  margin-bottom: 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interactive {
  & span {
    margin-right: 10px;
  }
}

.remove {
  &:after {
    content: '';
    background: svg-load("cross.svg", fill=#373E42) center center / contain no-repeat;
    display: block;
    width: 11px;
    height: 11px;
  }
}