.skill-component {
    display: flex;
    align-items: center;
    width: 100%;
    color: #373E42;
}

.title {
    flex: 1;
    margin-right: 70px;
}

.percent {
    margin-right: 60px;
}

.buttons {
    display: flex;
}

.btn {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}

