script(type="text/x-template")#preview-container
    .works__preview(v-if="works.length")
        display(
            :works="works",
            :currentWork="currentWork",
            :currentIndex="currentIndex"
            @slide="slide"
        )
        info(
            :currentWork="currentWork"
        )

script(type="text/x-template")#preview-display
    .works-preview__pictures(:data-slide="currentIndex + 1")
        img(:src="currentWork.photo").works-preview__img
        .works-preview__thumbs
            thumbs(
                :works="selectingWorks",
                :currentWork="currentWork"
            )
        .works-preview__btns
            btns(
                @slide="direction => $emit('slide', direction)"
            )

script(type="text/x-template")#preview-thumbs
    ul.thumbs
        li.thumbs__item(
            v-for="slide in works" :key="slide.id"
            :class="{active: currentWork.id === slide.id}"
        )
            button(type="button").thumbs__link
                img(:src="slide.photo").thumbs__link-img

script(type="text/x-template")#preview-btns
    .square-btns
        button(
            type="button"
            @click.prevent="$emit('slide', 'next')"
        ).square-btns__item.square-btns__item_next
        button(
            type="button"
            @click.prevent="$emit('slide', 'prev')"
        ).square-btns__item.square-btns__item_prev

script(type="text/x-template")#preview-info
    .works-preview__info
        tags(
            :tags="tagsArray"
        )
        .works-preview__title {{currentWork.title}}
        .works-preview__desc
            p {{currentWork.description}}
        .works-preview__link 
            a(href="").iconed-link Посмотреть сайт

script(type="text/x-template")#preview-tags
    ul.tags(v-if="tags.length")
        li.tags__item(v-for="tag in tags")
            .tag {{tag}}



//- script(type="text/x-template")#preview-display
//-     .works-preview__pictures(:data-slide="currentIndex + 1")
            img(:src="currentWork.photo").works-preview__img
//-         .works-preview__thumbs
//-             thumbs(
//-                 :works="selectingWorks",
//-                 :currentWork="currentWork"
//-             )
//-         .works-preview__btns
//-             btns(
//-                 @slide="$emit('slide', $event)"
//-             )
