footer.footer
    .container
      .footer-person-info
        .footer__copyright © 2020
        .footer__userinfo
          .footer__userinfo-name Владимир Астаханов
          .footer__userinfo-title Личный сайт #[br] веб-разработчика
      .footer-info
        +nav("footer__menu menu", ['Обо мне', 'Навыки', 'Работы', 'Отзывы'])
        .footer-info__desc
          .footer-info__col.footer-info__col_left
            .footer-info__parag
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            +socials('socials', ['insta', 'vk', 'github', 'envelope'], 'socials_ring')
          .footer-info__col.footer-info__col_right
            .footer-info__parag
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            .footer-info__parag-author Martin Golding