section.hero
    .container.hero__container
        header.header
            .logo BA
            +nav("menu", ['Обо мне', 'Навыки', 'Работы', 'Отзывы'])
            +socials('socials', ['insta', 'github', 'vk', 'envelope'])
            button(type="button" @click="viewMobileMenu").hamburger
                span.humburger__line
                span.humburger__line
                span.humburger__line

        .userinfo
            .userinfo__title Личный сайт #[br] веб разработчика
            h1.userinfo__name Владимир Астаханов
        
        .hero__btn
            a(href="#about").hero__btn-down Скролл