section.hero#hero
    .container.hero__container
        header.header
            .logo КР
            +nav("menu", {'Обо мне': "about", 'Навыки': "values__container", 'Работы': "works__container", 'Отзывы': "reviews"})
            +socials('socials', {'insta': 'https://www.instagram.com/kirillradk/', 'github': 'https://github.com/RKeyProg', 'vk': 'https://vk.com/rkeyprog', 'envelope': 'mailto:rkey_prog@mail.ru'})
            button(type="button" @click="viewMobileMenu").hamburger
                span.humburger__line
                span.humburger__line
                span.humburger__line

        .userinfo
            .userinfo__title Личный сайт #[br] веб разработчика
            h1.userinfo__name Кирилл Радкевич
        
        .hero__btn
            a(href="#about").hero__btn-down Скролл