.mobile-menu(:style="styles")
    button(type="button" @click="hideMobileMenu").mobile-menu__close
        +icon('cross', 'mobile-menu__close-img')
    .mobile-menu__content
        +nav("mobile-nav menu", ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы'])
        +socials('socials', ['insta', 'vk', 'github', 'envelope'], 'socials_color_dark')