section.values
    .container#values__container
      .values__title
        h3.values__title-text Чем я могу быть полезен вам      
        .values__content
          p Этот сайт я сделал в рамках технологической практики, которую я проходил. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .values__widget
        #skills-component