.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    background: $text-color_light;
}

.notification {
    transition: transform .3s ease;
}

.notify-container {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z-mobile-menu;

    &.active {
        .notification {
            transform: translateY(-100%);
        }
    }
}