extends ./main.layout.pug

block content
  .welcome-section
    include ./blocks/hero.pug
    include ./blocks/about.pug
    include ./blocks/mobile-menu.pug
    +image('content/heroBG.jpg', 'welcome-section__bg')
  include ./blocks/values.pug
  include ./blocks/works.pug
  include ./blocks/reviews.pug
  include ./blocks/footer.pug